#root {
  max-width: 550px;
  margin: 0 auto;

}

nav {
  display: flex;
  justify-content: center;  
  align-items: center;
  background: #F55A5A;
  gap: 5px;


}
nav > p {
  color: white;
  letter-spacing: -1px;
}

.nav--logo {
  height: 24px;
  width: 24px;

}


